<div class="row">
  <h1>Settings</h1>

  Select a Color to Add:
  <div>
    <select ng-model='selectedColor'  ng-options='color for color in acceptableColors'></select>
    <button ng-click="addColor()">Add Color</button>
</div>
<div>Colors you have selected:</div>
  <div ng-repeat="color in selectedColorsArray">
    <div><input value="{{color.selectedColor}}"></input><button class="btn btn-danger" ng-click="deleteColor(color.selectedColor)">delete</button><button class="btn btn-warning">Update</button></div>
  </div>
</div>
